body {
    font-family:'font-awesome';
}

#navaay{
    background-color:#006400;
<<<<<<< HEAD
    /*padding-bottom:-20px;
    margin-bottom:-20px;*/
    font-family:'font-awesome';
    font-size:20px;
    margin-right:0px;
    padding-right:10px;
=======
    padding-bottom:-20px;
    margin-bottom:-20px;
    font:Marmelad;
>>>>>>> AmyStyles
}
/*.detailsHeading{
    margin-top:20px;
}*/

#navaay2{
   background-color:#006400;
   padding:-35px;
   margin:-10px;
}
